<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>This app demonstrates how to add authentication to an Angular 2 app. More specifically, it covers how to:</p>
  <ul>
    <li>Add a login/signup area which returns a <a href="https://jwt.io/introduction">JSON Web Token</a> that is saved in <code>localStorage</code></li>
    <li>Conditionally hide and show various parts of the application depending on the user's authentication state</li>
    <li>Create a profile area which displays user information from the payload of the JWT</li>
    <li>Protect client-side routes with an <code>AuthGuard</code></li>
    <li>Make requests for server resources protected by JWT middleware on the server</li>
    <li>Make requests for server resources that require a specific <code>scope</code> to be present in the JWT payload</li>
  </ul>

  <!-- create buttons for Log In and Log Out -->
</div>
